<nav class="navbar navbar-expand-lg navbar-dark shadow-sm" style="background-color: #f35d00;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" alt="logo">
      <img src="/galaxia.png" width="180px" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item mx-3">
          <a class="nav-link active" aria-current="page" href=""></a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="home/historial">Home</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="home/historial">Ver Solicitudes</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="home/solicitud">Nueva Solicitud</a>
        </li>
      </ul>

      <div class="d-flex ms-auto me-3">
          <button class="btn btn-outline-light btn-sm">Cerrar sesión</button>
        </div>
    </div>
  </div>
</nav>