<app-navbar></app-navbar>
<div class="container-fluid pt-2">
<router-outlet></router-outlet>
</div>

<button class="btn btn-primary btn-lg position-fixed bottom-0 end-0 m-5" type="button" data-bs-toggle="offcanvas" 
data-bs-target="#chatbot" 
aria-controls="chatbot"><i class="bi bi-robot"></i> SuperBot</button>

<div class="offcanvas offcanvas-end" style="background-color: #ffc5a1;" data-bs-scroll="true" tabindex="-1" id="chatbot" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header" style="background-color: #ff8c42;">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel"><i class="bi bi-robot"></i> SuperBot</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <app-chatbot></app-chatbot>
  </div>
</div>