<div class="vh-100 d-flex align-items-center justify-content-center bg-body">
  <div class="card shadow-soft rounded-soft bg-dark text-white" style="max-width: 400px; width: 100%;">
    <div class="card-header bg-primary text-center rounded-top-soft">
      <h4 class="my-2">Iniciar Sesión</h4>
    </div>
    <div class="card-body p-4">
      <div class="mb-3">
        <label for="dni" class="form-label">DNI</label>
        <input id="dni" type="text" class="form-control bg-secondary text-white border-0" placeholder="Ingresa tu DNI"
          required [(ngModel)]="usuario">
      </div>
      <div class="mb-3">
        <label for="clave" class="form-label">Contraseña</label>
        <input id="clave" type="password" class="form-control bg-secondary text-white border-0"
          placeholder="Ingresa tu contraseña" required [(ngModel)]="clave">
      </div>
      <div class="d-grid">
        <button class="btn btn-primary" (click)="Login();">
          Entrar
        </button>
      </div>
      <div class="text-center mt-3">
        <p class="mt-2 fw-bold text-danger">{{ mensaje }}</p>
        <a href="/registro" class="btn btn-outline-light btn-sm">
          Crear una cuenta
        </a>
      </div>
    </div>
  </div>
</div>