
<div class="container mt-5" style="max-width: 1080px;">
  <h3>Solicitudes</h3>
  <br>
  <table class="table table-bordered table-sm align-middle text-center">
  <thead>
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Monto</th>
      <th scope="col">Cuotas</th>
      <th scope="col">Estado</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let x of DataSource">
      <th scope="row">{{x.fecha_alta}}</th>
      <td>{{x.monto}}</td>
      <td>{{x.cuotas}}</td>
      <td>{{x.estado|uppercase}}</td>
      <td>
        <a *ngIf="x.estado=='aprobado'||x.estado=='rechazado'" class="btn btn-primary me-2 btn-fixed" href="home/detalle?titulo=Detalle&id={{x.id}}" title="Ver detalles"><i class="fas fa-eye"></i></a>
        <a *ngIf="x.estado=='pendiente'" class="btn btn-warning me-2 btn-fixed" href="home/detalle?titulo=Editar&id={{x.id}}" title="Editar"><i class="fas fa-edit"></i></a>
        <button class="btn btn-danger me-2 btn-fixed" (click)="DeleteSolicitud(x.id)" title="Eliminar"><i class="fas fa-trash-alt"></i></button>
      </td>
      <!-- Aca le puedo meter botones que aparezcan segun el rol -->
    </tr>

  </tbody>
</table>
</div>