<div class="container mt-3" style="max-width: 1080px;">
  <table class="table table-bordered table-sm align-middle text-center">
  <thead>
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Monto</th>
      <th scope="col">Cuotas</th>
      <th scope="col">Estado</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let x of DataSource">
      <th scope="row">{{x.fecha_alta}}</th>
      <td>{{x.monto}}</td>
      <td>{{x.cuotas}}</td>
      <td>{{x.estado}}</td>
      <td>
        <a class="btn btn-primary me-2" href="home/detalle?titulo=Detalle&id={{x.id}}" >Detalles</a>
        <a class="btn btn-warning me-2" href="home/detalle?titulo=Editar&id={{x.id}}">Editar</a>
        <button class="btn btn-danger me-2">Eliminar</button>
      </td>
      <!-- Aca le puedo meter botones que aparezcan segun el rol -->
    </tr>

  </tbody>
</table>
</div>