<div class="container mt-5" style="max-width: 1080px;">


  <div class="card shadow-soft rounded-soft">
    <div class="card-header bg-primary text-white">
      <h5 class="mb-1">Solicitudes</h5>
    </div>
    <div class="card-body p-2">
      <div class="d-flex align-items-center mb-4">
        <label for="filtro-estado" class="me-2 mb-0" style="font-weight: bold;">Filtrar por estado:</label>
        <select id="filtro-estado" class="form-select w-auto shadow-soft" name="filterEstado">
          <option value="">Todos</option>
          <option value="pendiente">Pendiente</option>
          <option value="aprobado">Aprobado</option>
          <option value="rechazado">Rechazado</option>
        </select>
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-hover table-sm align-middle text-center mb-0">
          <thead class="bg-primary text-white">
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Monto</th>
              <th scope="col">Cuotas</th>
              <th scope="col">Estado</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of DataSource">
              <td>{{ x.fecha_alta }}</td>
              <td>{{ x.monto | currency:'ARS ':'symbol' }}</td>
              <td>{{ x.cuotas }}</td>
              <td>
                <span class="badge" [ngClass]="{
                    'bg-warning text-dark': x.estado=='pendiente',
                    'bg-success':      x.estado=='aprobado',
                    'bg-danger':       x.estado=='rechazado'
                  }">
                  {{ x.estado | uppercase }}
                </span>
              </td>
              <td>
                <a *ngIf="x.estado!=='pendiente'" class="btn btn-outline-info btn-sm me-1"
                  [href]="'home/detalle?titulo=Detalle&id='+x.id" title="Ver detalles">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </a>
                <a *ngIf="x.estado=='pendiente'" class="btn btn-outline-primary btn-sm me-1"
                  [href]="'home/detalle?titulo=Editar&id='+x.id" title="Editar">
                  <i class="fas fa-edit"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>